.d-flex{
  padding-left: 660px;
  margin-left: 101px;
}
.home{
  padding-left: 70px;
  margin-left: 70px;
}
.aboutus{
  padding-left: 70px;
  margin-left: 70px;
}

.navbarScrollingDropdown{
  padding-left: 40px;
  margin-left: 50px;
}




















/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
} */